---
### Configure how to run devpi container ###
## Change to always to always pull latest docker image
#devpi_container_pull_new_docker_images: missing
# Image from https://hub.docker.com/r/winggundamth/devpi-server
#devpi_container_image_name: winggundamth/devpi-server:xenial
#devpi_container_name: devpi
#devpi_container_hostname: devpi
#devpi_container_restart_policy: unless-stopped
## Change to reloaded to destroy container and recreate again
#devpi_container_state: started
## Config this if you want to exposed devpi container ports
#devpi_container_exposed_ports:
#  - "3141:3141"

# Configure path of devpi configuration
#devpi_container_host_config_path: "{{ playbook_dir }}/files/groups/{{ group_names[-1] }}/devpi"

# Configure path of docker-machine configuration
#devpi_container_docker_machine_storage_path: "{{ playbook_dir }}/files/docker-machine"

# You shouldn't touch these configuration at all except you know what you are going to do
#devpi_container_docker_cert_path: "{{ devpi_container_docker_machine_storage_path }}/machines/{{ inventory_hostname }}"
#devpi_container_docker_machine_environment:
#  DOCKER_TLS_VERIFY: 1
#  DOCKER_HOST: "{{ devpi_container_docker_host.stdout }}"
#  DOCKER_CERT_PATH: "{{ devpi_container_docker_cert_path }}"
#  DOCKER_MACHINE_NAME: "{{ inventory_hostname }}"
