---
### Configure how to run docker registry container ###
## Change to always to always pull latest docker image
#docker_registry_container_pull_new_docker_images: missing
## Image from https://hub.docker.com/_/registry
#docker_registry_container_image_name: registry:2.4.1
#docker_registry_container_name: docker-registry
#docker_registry_container_hostname: docker-registry
#docker_registry_container_restart_policy: unless-stopped
## Change to reloaded to destroy container and recreate again
#docker_registry_container_state: started
## Config this if you want to exposed docker_registry container ports
#docker_registry_container_exposed_ports:
#  - "5000:5000"
## Volume for docker registry container
#docker_registry_container_volumes:
#  - /var/lib/registry
#  - "{{ docker_registry_container_config_path }}"
## See all environment variables here https://github.com/docker/distribution/blob/master/docs/configuration.md
## or you can use config.yml file instead
#docker_registry_container_environment_config:
#  SETTINGS_FLAVOR: s3
#  AWS_BUCKET: acme-docker
#  STORAGE_PATH: /registry
#  AWS_KEY: CHANGEME
#  AWS_SECRET: CHANGEME
#  SEARCH_BACKEND: sqlalchemy

# Configure path of docker_registry configuration
#docker_registry_container_host_config_path: "{{ playbook_dir }}/files/groups/{{ group_names[-1] }}/docker_registry"

# Configure path of docker-machine configuration
#docker_registry_container_docker_machine_storage_path: "{{ playbook_dir }}/files/docker-machine"

# You shouldn't touch these configuration at all except you know what you are going to do
docker_registry_container_host_config_file: "{{ docker_registry_container_host_config_path }}/config.yml"
docker_registry_container_config_path: /etc/docker/registry/config.yml
#docker_registry_container_docker_cert_path: "{{ docker_registry_container_docker_machine_storage_path }}/machines/{{ inventory_hostname }}"
#docker_registry_container_docker_machine_environment:
#  DOCKER_TLS_VERIFY: 1
#  DOCKER_HOST: "{{ docker_registry_container_docker_host.stdout }}"
#  DOCKER_CERT_PATH: "{{ docker_registry_container_docker_cert_path }}"
#  DOCKER_MACHINE_NAME: "{{ inventory_hostname }}"
