---
### Configure how to run graylog container ###
## Change to always to always pull latest docker image
#graylog_container_pull_new_docker_images: missing
## Image from https://hub.docker.com/r/graylog2/server/
#graylog_container_image_name: graylog2/server:2.0.2-1
#graylog_container_name: graylog
#graylog_container_hostname: graylog
#graylog_container_restart_policy: unless-stopped
## Change to reloaded to destroy container and recreate again
#graylog_container_state: started
## Data Volume
#graylog_container_volumes:
#  - /usr/share/graylog/data
## Link with mongo and elasticsearch container
#graylog_container_links:
#  - "{{ mongo_container_name }}:mongo"
#  - "{{ elasticsearch_container_name }}:elasticsearch"
## Expose REST API, Web Interface and input ports
## Need to use port on container to more than 1024 from permission
#graylog_container_published_ports:
#  - "9000:9000"
#  - "12900:12900"
#  - "12201:12201"
#  - "12201:12201/udp"
#  - "514:5140"
#  - "514:5140/udp"
## Must have another variable to tell container to exposed port that not in EXPOSE in Dockerfile
## This required by Ansible and docker-py
#graylog_container_exposed_ports:
#  - "12201"
#  - "12201/udp"
#  - "5140"
#  - "5140/udp"
## You must config this. See all variables here https://github.com/Graylog2/graylog2-server/blob/master/misc/graylog.conf
## Simply prefix the parameter name with GRAYLOG_ and put it all in upper case.
## For best practice, you should use ansible-vault to encrypt your password on another file and keep to yourself
## Read more here http://docs.ansible.com/ansible/playbooks_best_practices.html#best-practices-for-variables-and-vaults
graylog_container_environment_config:
  GRAYLOG_PASSWORD_SECRET: somepasswordpepper
  # From command echo -n yourpassword | shasum -a 256
  GRAYLOG_ROOT_PASSWORD_SHA2: 8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918
  GRAYLOG_REST_TRANSPORT_URI: "http://{{ ansible_host }}:12900"

# Configure path of mongo configuration
#graylog_container_host_config_path: "{{ playbook_dir }}/files/groups/{{ group_names[-1] }}/graylog"

# Configure path of docker-machine configuration
#graylog_container_docker_machine_storage_path: "{{ playbook_dir }}/files/docker-machine"

# You shouldn't touch these configuration at all except you know what you are going to do
#graylog_container_docker_cert_path: "{{ graylog_container_docker_machine_storage_path }}/machines/{{ inventory_hostname }}"
#graylog_container_docker_machine_environment:
#  DOCKER_TLS_VERIFY: 1
#  DOCKER_HOST: "{{ graylog_container_docker_host.stdout }}"
#  DOCKER_CERT_PATH: "{{ graylog_container_docker_cert_path }}"
#  DOCKER_MACHINE_NAME: "{{ inventory_hostname }}"
