---
# This will configure DOCKER_OPTS. Default is to use overlay as storage driver
#install_docker_option: --storage-driver=overlay

# Private Docker Registry configuration. Change to true and configure
# login information
#install_docker_private_login: false
#install_docker_registry_username: registry
#install_docker_registry_password: CHANGEDOCKERPASSWORDHERE
#install_docker_registry_email: docker@example.com
#install_docker_registry_url: registry.example.com

# Change this to true if you want to install docker-py
#install_docker_py: false

# Install Docker Machine on local machine. Support Ubuntu host only
#install_docker_machine: false
#install_docker_machine_version: 0.7.0
#install_docker_machine_url: https://github.com/docker/machine/releases/download/{{ install_docker_machine_version }}/docker-machine-Linux-x86_64
#install_docker_machine_path: /usr/local/bin/docker-machine
#install_docker_machine_checksum: md5:bf73bbfee97fad04d3ff20151b1847fa
