---
### Configure how to run mongo container ###
## Change to always to always pull latest docker image
#mongo_container_pull_new_docker_images: missing
# Image from https://hub.docker.com/_/mongo
#mongo_container_image_name: mongo:3.3.6
#mongo_container_name: mongo
#mongo_container_hostname: mongo
#mongo_container_restart_policy: unless-stopped
## Change to reloaded to destroy container and recreate again
#mongo_container_state: started
## Config this if you want to exposed mongo container ports
#mongo_container_exposed_ports:
#  - "27017:27017"

# Configure path of mongo configuration
#mongo_container_host_config_path: "{{ playbook_dir }}/files/groups/{{ group_names[-1] }}/mongo"

# Configure path of docker-machine configuration
#mongo_container_docker_machine_storage_path: "{{ playbook_dir }}/files/docker-machine"

# You shouldn't touch these configuration at all except you know what you are going to do
#mongo_container_docker_cert_path: "{{ mongo_container_docker_machine_storage_path }}/machines/{{ inventory_hostname }}"
#mongo_container_docker_machine_environment:
#  DOCKER_TLS_VERIFY: 1
#  DOCKER_HOST: "{{ mongo_container_docker_host.stdout }}"
#  DOCKER_CERT_PATH: "{{ mongo_container_docker_cert_path }}"
#  DOCKER_MACHINE_NAME: "{{ inventory_hostname }}"
