---
### Configure how to run redis container ###
## Change to always to always pull latest docker image
#redis_container_pull_new_docker_images: missing
## Image from https://hub.docker.com/_/redis
#redis_container_image_name: redis:3.2.0-alpine
#redis_container_name: redis
#redis_container_hostname: redis
#redis_container_restart_policy: unless-stopped
## Change to reloaded to destroy container and recreate again
#redis_container_state: started
## Config this if you want to exposed redis container ports
#redis_container_exposed_ports:
#  - "6379:6379"

# Configure path of redis configuration
#redis_container_host_config_path: "{{ playbook_dir }}/files/groups/{{ group_names[-1] }}/redis"

# Configure path of docker-machine configuration
#redis_container_docker_machine_storage_path: "{{ playbook_dir }}/files/docker-machine"

# You shouldn't touch these configuration at all except you know what you are going to do
#redis_container_docker_cert_path: "{{ redis_container_docker_machine_storage_path }}/machines/{{ inventory_hostname }}"
#redis_container_docker_machine_environment:
#  DOCKER_TLS_VERIFY: 1
#  DOCKER_HOST: "{{ redis_container_docker_host.stdout }}"
#  DOCKER_CERT_PATH: "{{ redis_container_docker_cert_path }}"
#  DOCKER_MACHINE_NAME: "{{ inventory_hostname }}"
