[production]
prod-01 ansible_user=ubuntu ansible_host=10.10.10.11 ansible_port=22
prod-02 ansible_user=ubuntu ansible_host=10.10.10.12 ansible_port=22

[preproduction]
pre-01 ansible_user=ubuntu ansible_host=10.10.10.21 ansible_port=22

[all:vars]
docker_machine_vars_file=vars/docker_machine.yml
mongo_container_vars_file=vars/mongo_container.yml
elasticsearch_container_vars_file=vars/elasticsearch_container.yml
graylog_container_vars_file=vars/graylog_container.yml
